<% content_for :body_content_title do %>
  <%= @registration.username %>
<% end %>

<% content_for :body_content_left do %>
  <section>
    <h1>Username</h1>
    <p>
      <%=raw @registration.username %>
    </p>
  </section>
  <section>
    <h1>Email</h1>
    <p>
      <%=raw @registration.email %>
    </p>
  </section>
  <section>
    <h1>Personal Info</h1>
    <p>
      <%=raw @registration.personal_info %>
    </p>
  </section>
  <section>
    <h1>State</h1>
    <p>
      <%=raw @registration.state %>
    </p>
  </section>
<% end %>

<% content_for :body_content_right do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="registrations">
      <% @registrations.each do |registration| %>
        <li>
          <%= link_to registration.username, registration_path(registration) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render :partial => "/shared/content_page" %>
